/*----------------------------- Responsive ------------------------------------------*/

/*Min*/

@media only screen and  (min-width:1400px){

	/* Home Banner
	------------------------------------------------------------------------------*/	
	.home-banner{background-size: 114vw;background-position: 85% 14%;}

}

@media only screen and  (min-width:1600px){

	.h1,h1 {font-size: 44px;margin-bottom: 33px;line-height: 62px;}
	.h2,h2 {font-size: 39px;margin-bottom: 20px;line-height: 57px;}
	.h3,h3 {font-size: 35px;margin-bottom: 18px;line-height: 55px;}
	.h4,h4 {font-size: 30px;margin-bottom: 17px;line-height:50px;}
	.h5,h5 {font-size: 22px;margin-bottom: 15px;}
	.h6,h6 {font-size: 18px;margin-bottom: 10px;}	

	/* Home Banner
	------------------------------------------------------------------------------*/	
	.home-banner{background-size: 100vw;background-position: 25% 0%;}
}

@media only screen and  (min-width:1900px){

	/* Home Banner
	------------------------------------------------------------------------------*/
	.home-banner{padding: 175px 0px 100px 0px;background-size: cover;background-position: 100% 57%;min-height: 1050px;}
	.home-banner .banner-info{width: 49%;}
	.home-banner .banner-img{width:51%;}
	.home-banner .banner-info ul.btn-group{padding-top:35px;margin-left:7px;}
	.home-banner .banner-info ul.btn-group li{margin-right:27px;}	

	/* Help You
	------------------------------------------------------------------------------*/
	.help-you{padding:0px 0px 105px 0px;margin-top:-100px;}

	/* Meadia Mgmt
	------------------------------------------------------------------------------*/
	.media-mgmt{padding: 94px 20px 0px 20px;}
	.media-mgmt .heading {margin-bottom: -60px;}
	.media-mgmt .heading h4 {margin-bottom: 45px;}
	.media-mgmt .heading p {line-height:36px;}
	.media-vid {max-width: 785px;top: 126px;}
	.intro-video{max-width:785px;min-height:436px;}	

	/* How Easy
	------------------------------------------------------------------------------*/
	.how-easy{padding:230px 0px 40px 0px;}
	.how-easy .container{max-width:1630px;}
	.how-easy .heading{margin-bottom:82px;}
	.how-easy ul.how-easy-list li {margin-bottom:260px;}
	.how-easy ul.how-easy-list li:last-child {margin-bottom: 115px;}
	.how-easy ul.how-easy-list li .list-img {-webkit-box-shadow: 10px 50px 80px 0px rgba(0, 0, 0, 0.19);-moz-box-shadow:10px 50px 80px 0px rgba(0, 0, 0, 0.19);box-shadow:10px 50px 80px 0px rgba(0, 0, 0, 0.19);}
	.how-easy ul.how-easy-list li:last-child .list-img{-webkit-box-shadow:-27px 86px 112px 0px rgba(0,0,0,0.19);-moz-box-shadow:-27px 86px 112px 0px rgba(0,0,0,0.19);box-shadow:-27px 86px 112px 0px rgba(0,0,0,0.19);}	
	.how-easy ul.how-easy-list .list-info span.title-bar {margin-bottom: 30px;}
	.how-easy ul.how-easy-list .list-info h2 {margin-bottom: 60px;}
	.how-easy ul.how-easy-list .list-info p {line-height: 35px;}
	.how-easy ul.how-easy-list li:nth-child(odd) .list-info{padding: 10px 126px 10px 0px;text-align:left;}
	.how-easy ul.how-easy-list li:nth-child(even) .list-info{padding: 10px 0px 10px 126px;text-align:right;}

	.how-easy .how-easy-info ul.how-easy-list li:first-child .list-img:after{width: 5000px;height: 185px;left: 81%;top: -13%;background: linear-gradient(90deg,rgba(0,198,255,1) 0%,rgba(0,114,255,1) 10%);}

	.how-easy .how-easy-info ul.how-easy-list li:nth-child(2) .list-img:before{width:565px;height:763px;left:-166px;top:-71%;}
	.how-easy .how-easy-info ul.how-easy-list li:nth-child(2) .list-img:after{width:5000px;height:1059px;position:top:-314%;right:42%;background:linear-gradient(-188deg,rgba(0,198,255,1) 0%,rgba(0,114,255,1) 100%);transform:rotate(34deg);border-radius:45%;}

	.how-easy .how-easy-info ul.how-easy-list li:nth-child(3) .list-img:before{width:467px;height:965px;right:-18%;top:-73%;}
	.how-easy .how-easy-info ul.how-easy-list li:nth-child(3) .list-img:after{width:5000px;height:965px;left:118%;top:-73%;}


	.how-easy .service-info{padding:115px 0px;}
	.how-easy .service-info ul.service-list{max-width:1030px;padding:30px 0px 30px 0px;}
	.how-easy .service-info ul.service-list:after{bottom:44px;box-shadow:0px 13px 101px 50px rgba(0,156,255,1);-webkit-box-shadow:0px 13px 101px 50px rgba(0,156,255,1);-moz-box-shadow:0px 13px 101px 50px rgba(0,156,255,1);margin:0 auto;}
	.how-easy .service-info ul.service-list li{padding:15px 30px 15px 30px;}
	.how-easy .service-info ul.service-list li figure{margin-bottom:22px;}
	.how-easy .service-info ul.service-list li h6{margin-bottom:9px;color:#fff;}
	.how-easy .service-info ul.service-list li p{padding:0px 78px;margin-bottom:16px;}	

	/* Plans
	------------------------------------------------------------------------------*/
	.our-plans {padding: 60px 0px 110px 0px;}
	.our-plans .heading {margin-bottom: 195px;}
	.our-plans .heading h4 {padding: 0px 100px;margin-bottom: 31px;}
	.our-plans .plans-info {margin-bottom: 80px;}

	.our-plans ul.plans-list > li{justify-content:flex-start;}
	.our-plans ul.plans-list > li.basic{padding:0px 60px 0px 45px}
	.our-plans ul.plans-list > li.standard {padding: 0px 45px 0px 60px;}

	.our-plans ul.plans-list > li .price {padding:35px 0px;}

	.our-plans ul.plans-list > li .details{padding:46px 0px;}
	.our-plans ul.plans-list > li .details p{margin-bottom:43px;}
	.our-plans ul.plans-list > li .details li{padding-left:31px;}

	.our-plans ul.plans-list > li.premium{transform: scale(1.15);}
	.our-plans ul.plans-list > li.premium .price{padding:23px 40px;}
	.our-plans ul.plans-list > li.premium  .details{padding: 36px 45px;}

	.our-plans ul.plans-list > li.premium .details p {margin-bottom: 36px;}
	.our-plans ul.plans-list > li.premium .details li {padding-left: 21px;}
	.our-plans ul.plans-list > li.premium .details a.btn{margin-top: 28px;padding: 10px 20px;}

	.our-plans .check-plans {padding: 100px 0px 50px 0px;}
	.our-plans .check-plans h4 {margin-bottom: 51px;}
	.our-plans .check-plans a.btn {min-width: 180px;}

	/* Blog
	------------------------------------------------------------------------------*/
	.common-banner{position:relative;min-height:400px;overflow:hidden;}
	.common-banner::after{content:'';position:absolute;left:-233px;top:-185px;display:block;height:908px;width:116vw;background-image:url(../images/curve.svg);background-size:100% 100%;}
	.blog {margin-top: -241px;}
	.blog .heading {margin-bottom: 114px;}	

	/* Footer
	------------------------------------------------------------------------------*/
	footer{padding: 100px 0px 0px 0px;margin-top: -100px;}
	footer .footer-wrap{padding:65px 0px 0px 0px;max-width: 2017px;}
	footer .footer-wrap:before{left:51px;top:-103px;height:760px;width:258px;}
	footer .footer-wrap:after{right:51px;top:22px;height:681px;width:324px;}
	footer .inner-wrap:before{height:100%;width:1642px;left:-9px;top:-70px;transform:perspective(51px) rotateX(1.2deg);border-top-left-radius: 60px;border-top-right-radius: 60px;}
	footer .inner-wrap:after{height:0%;width:80%;top:124px;}
	footer .main-footer .footer-links {width: 62%;}
	footer .main-footer .footer-about {width: 38%;padding-right:0px;}
	footer .main-footer .footer-links > ul >li{width:20%;}
	footer .main-footer .footer-links > ul >li >ul >li {margin-bottom: 13px}
	footer .main-footer h6 {font-size: 16px;margin-bottom: 19px;}
	footer .footer-about h6 {margin-bottom: 12px;}
	footer .footer-about p {line-height: 35px;}
	footer .copywrite {padding: 7px 0px;text-align: center;}

}

@media only screen and  (min-width:2400px){
	
	header{background:#0085ff;}			
	header nav li a{color:#fff;}	
	.blog-page header{background:transparent;}	
	/* Home Banner
	------------------------------------------------------------------------------*/	
	.home-banner{display: flex;align-items: center;background-position: 25% 90%;min-height: 700px;}

	/* Help You
	------------------------------------------------------------------------------*/
	.help-you{padding:100px 0px;margin-top:0px;}	

}

@media only screen and  (min-width:2900px){

	/* Home Banner
	------------------------------------------------------------------------------*/	
	.home-banner{min-height:1000px;background-position: 25% 94%;}
}


/*Max*/


@media only screen and (max-width:1399px){
	
	/* Home Banner
	------------------------------------------------------------------------------*/	
	.home-banner {background-size: 126vw;background-position: 56% 0%;}

}

@media only screen and (max-width:1299px){

	header{background:#0085ff;}			
	header nav li a{color:#fff;}		

	/* Home Banner
	------------------------------------------------------------------------------*/
	.home-banner{background-size: 126vw;display: flex;background-position: 76% 90%;min-height:600px}
	.home-banner .banner-info{padding:0px;}
	.home-banner .banner-img img{max-width:500px;position:unset;}

	/* Help You
	------------------------------------------------------------------------------*/
	.help-you .help-info {padding: 0px 20px 0px 11px;}

}

@media only screen and (max-width:1199px){

	/* Base Typography
	------------------------------------------------------------------------------*/
	body{font-size:16px;}
	.h1,h1{font-size:38px;margin-bottom:20px;}
	.h2,h2{font-size:32px;}
	.h3,h3{font-size:28px;}
	.h4,h4{font-size:24px;}
	.h5,h5{font-size:18px;}
	.h6,h6{font-size:16px;}	

	/* Home Banner
	------------------------------------------------------------------------------*/	
	.home-banner {padding: 0px 0px 0px 0px;background-position: 100% 90%;}	
	.home-banner .banner-info ul.btn-group{padding-top:20px;}

	/* Help You
	------------------------------------------------------------------------------*/
	.help-you .help-list figure {width: 140px;height: 70px;border-top-left-radius: 70px;border-top-right-radius: 70px;}
	.help-you .help-list figure img {margin-top: 30px;width: 40px;height: 40px;}
	.help-you .help-info {width: 25%;padding: 0px 20px 0px 0px;}
	.help-you .help-list {width: 75%;padding-left: 0px;padding-top: 0px;}
	.help-you .help-list h6{padding:0px;}
	.help-you .help-list h6 br{display:none;}	

	/* How Easy
	------------------------------------------------------------------------------*/
	.how-easy ul.how-easy-list li:nth-child(odd) .list-info{padding: 10px 20px 10px 0px;}
	.how-easy ul.how-easy-list li:nth-child(even) .list-info{padding: 10px 0px 10px 20px;}

	/* Plans
	------------------------------------------------------------------------------*/
	.our-plans {padding: 60px 0px 50px 0px;}	
	.our-plans .heading{margin-bottom:75px;}
	.our-plans .heading h4 {margin-bottom: 20px;}
	.our-plans .plans-info {margin-bottom: 40px;}
	.our-plans .check-plans {padding: 50px 0px 50px 0px;}		
	.our-plans ul.plans-list > li .details li{padding-left: 20px;}
	.our-plans ul.plans-list > li .details li:before {height: 12px;width: 12px;left: 0px;top: 6px;}
	.our-plans ul.plans-list > li.premium .details li {padding-left: 18px;}
	.our-plans ul.plans-list > li.premium .details li:before {height: 9px;width: 9px;left: 0px;top: 6px;}	

	/* Footer
	------------------------------------------------------------------------------*/
	footer .main-footer .footer-links > ul >li {width: 33.33%;margin-bottom: 30px;}	
	footer .container{max-width: 900px}
	footer .footer-wrap:before {left: -22px;top: -60px;}
	footer .footer-wrap:after {right: -155px;top: -53px;height: 423px;width: 324px;}			
	footer .footer-wrap {max-width: 1170px;}
	footer .inner-wrap:before {max-width: 1100px;right: -68px;left: -36px;top: -112px;transform: perspective(34px) rotateX(1deg);}
	footer .container{max-width:900px;}
	footer .main-footer .footer-about {padding-right: 48px;}

}

@media only screen and (min-width:992px){
    .mobile-menu{display:none;}
}

@media only screen and (max-width:991px){
	/* Base Typography
	------------------------------------------------------------------------------*/
	.h1, h1 {font-size: 33px;}
	.h2, h2 {font-size: 28px;}
	.h3, h3 {font-size: 22px;}
	.h4,h4 {font-size: 20px;}
	.h5,h5 {font-size: 18px;}
	.h6,h6 {font-size: 16px;}	

	body {font-size: 16px;}	
	input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="number"], textarea {height: 50px;}
	
	/* Header
	------------------------------------------------------------------------------*/	
	header{padding:20px 0px;background:transparent;}		
	header nav li a{color:#263546;}	
	header .logo {width: 50%;}
	.mobile-menu-icon{display:inline-block;}
    .desktop-menu{display:none;}
	
	body.body-hide {overflow: hidden !important;}
	body.body-hide:after{content:'';position:absolute;height:100%;width:100%;top:0;left:0;min-height:50000px;background:rgba(0,0,0,0.9);z-index:10;}   

	/* Home Banner
	------------------------------------------------------------------------------*/
	.home-banner {padding: 50px 0px 0px 0px;background-position: 34% 0%;background-size: 119vw;}
	.home-banner .container{flex-direction:column-reverse;}	
	.home-banner .banner-info {width:100%;padding: 0px;text-align: center;max-width:500px;margin:0 auto;}
	.home-banner .banner-img{width:100%;margin:0 auto;margin-bottom:30px;}
	.home-banner .banner-info ul.btn-group{justify-content:center;}

	/* Help You
	------------------------------------------------------------------------------*/
	.help-you {padding: 70px 0px;margin-top: 0px;}	
	.help-you .help-info {width: 35%;}
	.help-you .help-list {width: 65%;}
	.help-you .help-list ul{margin-left: -2%;margin-right: -2%;}
	.help-you .help-list ul li {width: 46%;margin: 0 2%;margin-bottom: 40px;}
	.help-you .help-list h6 {padding: 0px 30px;}

	/* How Easy
	------------------------------------------------------------------------------*/
	.how-easy .heading {margin-bottom: 50px;}
	.how-easy ul.how-easy-list li{margin-bottom:70px;}
	.how-easy ul.how-easy-list li:last-child{margin-bottom:100px;}
	.how-easy .service-info {padding: 50px 0px 0px 0px;}
	.how-easy ul.how-easy-list li .list-info{width:100%;margin-bottom:50px;}
	.how-easy ul.how-easy-list li .list-img{width:100%;}
	.how-easy ul.how-easy-list li:nth-child(odd) .list-info{padding: 10px;}
	.how-easy ul.how-easy-list li:nth-child(even) .list-info{padding: 10px;}
	.how-easy .service-info ul.service-list{padding: 20px 0px;}
	.how-easy .service-info ul.service-list li p{margin-bottom:0px;padding:0px 20px;}
	.how-easy .service-info ul.service-list:after{box-shadow:0px 13px 40px 33px rgba(0,156,255,1);-webkit-box-shadow:0px 13px 40px 33px rgba(0,156,255,1);-moz-box-shadow:0px 13px 40px 33px rgba(0,156,255,1);}

	/* Plans
	------------------------------------------------------------------------------*/
	.our-plans ul.plans-list > li.basic {padding: 0px 32px 0px 15px;}	
	.our-plans ul.plans-list > li.standard {padding: 0px 15px 0px 32px;}

	.our-plans ul.plans-list > li .price {padding:20px 0px;}
	.our-plans ul.plans-list > li .details{padding:25px 0px;}
	.our-plans ul.plans-list > li .details p{margin-bottom:20px;}

	.our-plans ul.plans-list > li.premium {transform: scale(1.10);}
	.our-plans ul.plans-list > li.premium .price{padding:20px 20px;}
	.our-plans ul.plans-list > li.premium  .details{padding: 25px 20px;}

	.our-plans ul.plans-list > li.premium .details p {margin-bottom:20px;}

	.our-plans .check-plans h4 {margin-bottom:35px;}
	.our-plans .check-plans a.btn {min-width:unset;}	
			
	/* Footer
	------------------------------------------------------------------------------*/
	footer .footer-wrap:before {left: -100px;top: -98px;}
	footer .footer-wrap:after {right: -233px;top: -83px;}
	footer .main-footer .footer-about {padding-right: 18px;}
	footer .inner-wrap:before {left: -55px;}			
	footer .container{max-width:800px;}

}

@media only screen and (max-width:767px){
	
	/* Base Typography
	------------------------------------------------------------------------------*/
	.h1, h1 {font-size: 30px;line-height:normal;}
	.h2, h2 {font-size: 26px;line-height:normal;}
	.h3, h3 {font-size: 22px;line-height:normal;}
	.h4,h4 {font-size: 20px;line-height:normal;}
	.h5,h5 {font-size: 18px;line-height:normal;}
	.h6,h6 {font-size: 16px;line-height:normal;}

	select {padding-left: 15px;padding-right: 35px;background-size: 10px;background-position: right 15px center;font-size: 18px;}
	p {font-size: 16px;}
	.btn {padding: 10px 40px 10px 30px;font-size: 16px;}
	.btn:after{right:22px;top:18px;}

	/* Home Banner
	------------------------------------------------------------------------------*/
	.home-banner {padding: 80px 0px 0px 0px;background-position: 21% 0%;background-size: 180vw;}	
	.home-banner .banner-img img {max-width: 400px;}

	/* Help You
	------------------------------------------------------------------------------*/
	.help-you .help-list figure {width: 100px;height: 50px;border-top-left-radius: 50px;border-top-right-radius: 50px;}	
	.help-you .help-list figure img {margin-top: 30px;width: 35px;height: 35px;}
	.help-you .help-list h6 {padding: 0px 15px;}
	.help-you .help-info h4 {margin-bottom: 20px;}
	.help-you .help-info .btn {margin-top: 10px;}
	.help-you .help-info p {line-height:27px;}

	/* Meadia Mgmt
	------------------------------------------------------------------------------*/
	.media-mgmt {padding: 50px 20px 0px 20px;}
	.media-vid{max-width: 500px;top: 65px;}
	.intro-video {max-width: 500px;min-height:282px;}
	.intro-video .vjs-big-play-button, .intro-video .vjs-big-play-button:focus, .intro-video .vjs-big-play-button:active {border-radius: 9px;width: 55px;height: 31px;font-size: 20px;}	

	/* How Easy
	------------------------------------------------------------------------------*/	
	.how-easy .service-info{padding:40px 0px 0px 0px;}
	.how-easy .service-info ul.service-list li{padding:10px 20px;}
	.how-easy .service-info ul.service-list:after{bottom: 43px;}
	.how-easy ul.how-easy-list li{margin-bottom:50px;}
	.how-easy ul.how-easy-list li:last-child{margin-bottom:85px;}
	.how-easy ul.how-easy-list li .list-info{margin-bottom:30px;}

	/* Plans
	------------------------------------------------------------------------------*/
	.our-plans .plans-info ul.plans-list{box-shadow:none;}	
	.our-plans ul.plans-list > li{-webkit-box-shadow: 10px 50px 80px 0px rgba(0,0,0,0.19);-moz-box-shadow: 10px 50px 80px 0px rgba(0,0,0,0.19);box-shadow: 0px 24px 100px 5px rgba(0,0,0,0.08);}
	.our-plans ul.plans-list > li.premium {transform: scale(1.1);width: 100%;order: 1;max-width:365px;margin: 0 auto;margin-bottom:38px;}
	.our-plans ul.plans-list > li.basic{order: 2;width: 49%;margin:0 auto;margin-right:1%;}
	.our-plans ul.plans-list > li.standard{order: 3;width: 49%;margin:0 auto;margin-left:1%;}
	.our-plans ul.plans-list > li .details a.btn {padding: 10px 20px;font-size: 15px;margin-top:15px;}
	.our-plans ul.plans-list > li .details a.btn::before {box-shadow: 5px 0px 32px 5px rgba(0,156,255,1);-webkit-box-shadow: 5px 0px 32px 5px rgba(0,156,255,1);-moz-box-shadow: 5px 0px 32px 5px rgba(0,156,255,1);top: 10px;}
	.our-plans ul.plans-list > li.premium .details a.btn {margin-top:15px;padding: 8px 20px;font-size: 14px;}
	.our-plans .check-plans {padding: 20px 0px;}

	/* Footer
	------------------------------------------------------------------------------*/
	footer .container {max-width: 600px;}
	footer .main-footer .footer-links > ul >li {width: 50%;}	
	footer .footer-wrap:after {right: -90px;height: 318px;width: 200px;top: -59px;}
	footer .footer-wrap:before {left: -168px;top: -98px;}
	footer .inner-wrap:after{top:100%;box-shadow:0 34px 134px 843px rgba(0,156,255,0.2);-webkit-box-shadow:0 34px 134px 843px rgba(0,156,255,0.2);-moz-box-shadow:0 34px 134px 843px rgba(0,156,255,0.2);}

}

@media only screen and (max-width:640px){

	/* Base Typography
	------------------------------------------------------------------------------*/
	input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="number"], textarea {height: 40px;}

	/* Home Banner
	------------------------------------------------------------------------------*/

	/* Help You
	------------------------------------------------------------------------------*/
	.help-you .help-info{width:100%;padding:0px;text-align:center;margin-bottom:50px;}
	.help-you .help-list{width:100%;}

	/* Meadia Mgmt
	------------------------------------------------------------------------------*/
	.media-mgmt .media-vid{max-width: 400px;}
	.intro-video {max-width: 500px;min-height:282px;}
	.intro-video {max-width: 400px;min-height: 226px;}	
	
	/* How Easy
	------------------------------------------------------------------------------*/
	.how-easy .service-info ul.service-list {padding: 15px 0px;border-radius: 30px;}
	.how-easy .service-info ul.service-list:after {box-shadow: 0px 13px 35px 25px rgba(0,156,255,1);-webkit-box-shadow: 0px 13px 35px 25px rgba(0,156,255,1);-moz-box-shadow: 0px 13px 35px 25px rgba(0,156,255,1);}
	.how-easy .service-info ul.service-list li{padding:5px 10px}
	.how-easy .service-info ul.service-list li figure {margin-bottom: 15px;}
	.how-easy .service-info ul.service-list li h6 {margin-bottom:7px;font-size: 13px;}
	.how-easy .service-info ul.service-list li p {font-size:13px;}
	.how-easy .how-easy-info ul.how-easy-list li:first-child .list-img:after {height: 70px;left: 82%;top:-7%;}
	.how-easy .how-easy-info ul.how-easy-list li:nth-child(2) .list-img:before {width: 165px;height: 300px;left: -31px;top: -27%;}
	.how-easy .how-easy-info ul.how-easy-list li:nth-child(3) .list-img:before {width: 200px;height: 300px;right: -22%;}

	/* Plans
	------------------------------------------------------------------------------*/
	.our-plans ul.plans-list > li.standard,.our-plans ul.plans-list > li.basic {padding: 0px 18px;}
	.our-plans ul.plans-list > li.premium {transform: scale(1);max-width: 310px;margin-bottom: 15px;}
	.our-plans ul.plans-list > li.premium .details p, .our-plans ul.plans-list > li.premium .details li{font-size:14px;}
	.our-plans ul.plans-list > li.premium .details li:before{top:8px;}
	.our-plans ul.plans-list > li.premium .details a.btn {padding: 10px 20px;font-size: 16px;font-weight:400;}
	.our-plans .heading {margin-bottom: 45px;}

	/* Footer
	------------------------------------------------------------------------------*/
	footer .footer-wrap:after {right: -122px;top: -68px;}
	footer .footer-wrap:before {left: -185px;top: -98px;}
	footer .inner-wrap:before {left: -110px;top: -250px;}
	footer .container {max-width: 400px;text-align: center;}
	footer .main-footer .footer-links > ul >li {width: 100%;margin-bottom: 20px;}
	footer .main-footer .footer-links > ul >li:last-child{margin-bottom:0px;}
	footer .main-footer .footer-links {width: 100%;order: 2;}
	footer .main-footer .footer-about {padding-right: 0px;width: 100%;order: 1;margin-bottom: 50px;}
	footer .inner-wrap:after {top: 57%;}

}

@media only screen and (max-width:479px){

	/* Base Typography
	------------------------------------------------------------------------------*/
	.h1,h1{font-size:27px;}
	.h2,h2{font-size:24px;}
	.h3,h3{font-size:21px;}
	.h4,h4{font-size:18px;}
	.h5,h5{font-size:17px;}
	.h6,h6{font-size:16px;}
	p{font-size:15px;}
	.btn{font-size:15px;}
	
	/* Header
	------------------------------------------------------------------------------*/	
	.mobile-menu-icon{top:22px;}	
	header .logo img {width: 100px;}
	.bar1, .bar2, .bar3{height: 3px;}
	.change .bar1{-webkit-transform:rotate(-45deg) translate(-6px,5px);transform:rotate(-45deg) translate(-6px,5px);}
	.change .bar3{-webkit-transform:rotate(45deg) translate(-7px,-8px);transform:rotate(45deg) translate(-7px,-8px);}

	/* Home Banner
	------------------------------------------------------------------------------*/
	.home-banner {padding: 110px 0px 50px 0px;background-position: 25% 0%;background-size: 249vw;}
	.home-banner .banner-img{margin-bottom:0px;}
	.home-banner .banner-img img{max-width: 300px;}
	.home-banner .banner-info ul.btn-group{flex-direction:column;}
	.home-banner .banner-info ul.btn-group li{margin:0px;margin-bottom:20px;}
	.home-banner .banner-info ul.btn-group li:last-child{margin-bottom:0px;}
	
	/* Help You
	------------------------------------------------------------------------------*/
	.help-you{padding:0px 0px 50px 0px;}

	/* Meadia Mgmt
	------------------------------------------------------------------------------*/
	.intro-video {min-height: 197px;}

	/* How Easy
	------------------------------------------------------------------------------*/	
	.how-easy .service-info ul.service-list {padding: 15px 25px;max-width: 350px;}
	.how-easy .service-info ul.service-list li{width:100%;padding: 25px 10px;border-bottom: 1px solid rgba(255,255,255,0.3);border-right: none;}
	.how-easy ul.how-easy-list li:nth-child(odd) .list-info,.how-easy ul.how-easy-list li:nth-child(odd) .list-info{padding:0px;}
	.how-easy .how-easy-info ul.how-easy-list li:first-child .list-img:after {height: 60px;top: -8%;}
	.how-easy .how-easy-info ul.how-easy-list li:nth-child(2) .list-img:before {width: 150px;height: 120px;top: -23%;}
	.how-easy .how-easy-info ul.how-easy-list li:nth-child(3) .list-img:before {width: 170px;height: 200px;right: -23%;}
	.how-easy .how-easy-info ul.how-easy-list li:nth-child(3) .list-img:before {width: 200px;height: 200px;right: -132px;}

	.how-easy {padding: 120px 0px 40px 0px;}
	.how-easy ul.how-easy-list .list-info span.title-bar:before{height: 4px;width:25px;}
	.how-easy .service-info {padding: 0px;}

	/* Plans
	------------------------------------------------------------------------------*/
	.our-plans ul.plans-list > li{max-width: 350px;}
	.our-plans ul.plans-list > li.premium{order:1;max-width: 350px;}
	.our-plans ul.plans-list > li.basic{width: 100%;margin:0 auto;margin-bottom:15px;order:2;}
	.our-plans ul.plans-list > li.standard{width:100%;margin:0 auto;margin-bottom:15px;order:3;}
	.our-plans .plans-info {margin-bottom: 10px;}
	.our-plans ul.plans-list > li.premium .details a.btn {font-size: 15px;}
	.our-plans .heading h4 {padding: 0px 70px;}
	.our-plans {padding: 40px 0px 50px 0px;}

	/* Footer
	------------------------------------------------------------------------------*/
	footer .footer-wrap:after {right: -159px;top: -59px;}
	footer .footer-wrap:before {left: -201px;top: -98px}

}

@media only screen and (max-width:359px){

	/* Help You
	------------------------------------------------------------------------------*/	
	.help-you .help-list ul{margin-left:0px;margin-right:0px;} 
	.help-you .help-list ul li {width: 100%;margin: 0px;padding:30px 0px;border-bottom:1px solid #eee;}
	.help-you .help-list ul li:last-child{border-bottom:none;padding-bottom:0px;}
	.help-you .help-list h6 {padding: 0px 50px;}

	/* Meadia Mgmt
	------------------------------------------------------------------------------*/
	.intro-video {min-height: 159px;}

	/* How Easy
	------------------------------------------------------------------------------*/	
	.how-easy .how-easy-info ul.how-easy-list li:first-child .list-img:after {top: -11%;}
	.how-easy .how-easy-info ul.how-easy-list li:nth-child(2) .list-img:before {top: -37%;}

	/* Plans
	------------------------------------------------------------------------------*/
	.our-plans .heading h4 {padding: 0px 30px;}	


}