@charset "utf-8";

/* -- -- .- .... . -. -.. .-. .- ----- ----- .---- */

/*-----------------------------------------------------Social Media Agency --------------------------------------------------------*/


/* CSS Document */

/* Table of Contents
-----------------------------------------------------------------------------
=> Clean Base
=> Base Typography
=> Images
=> Links
=> Forms
=> Buttons
=> Img and Title Links
=> Header
=> Scroll
=> Preloader
=> Container 
=> Home Banner
=> Help You
=> Meadia Mgmt
=> How Easy     
=> Plans  
=> Footer       
*/

/* Clean Base
------------------------------------------------------------------------------*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,a,nav,section,summary,time,mark,audio,video {margin: 0;padding: 0;border: 0;font-size: 100%;vertical-align: baseline;background: transparent;text-decoration: none;outline: none;-webkit-font-smoothing: subpixel-antialiased;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
html,body {-webkit-text-size-adjust: none;height: 100%;}

article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {display: block;}
iframe {vertical-align: top;}
textarea:focus,input:focus,a,div,img {outline: none;}

*,
*:before,
*:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

.clear { clear: both; }

/* Base Typography
------------------------------------------------------------------------------*/
body {color:#242f51;font-size: 18px;font-family: 'Poppins', sans-serif;font-weight: 400;background:#fff;overflow: hidden;overflow-y: scroll;}
address {font-style: italic;margin: 0 0 20px;}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {color: #263546;font-family: 'Poppins', sans-serif;font-weight:600;}

.h1,h1{font-size:40px;margin-bottom:33px;line-height:45px;font-weight:400;}
.h2,h2{font-size:34px;margin-bottom: 20px;}
.h3,h3{font-size:30px;margin-bottom: 18px;}
.h4,h4{font-size:27px;margin-bottom: 17px;}
.h5,h5{font-size:20px;margin-bottom: 15px;}
.h6,h6{font-size:16px;margin-bottom: 10px;}



p{font-size:16px;line-height:27px;color:#808080;margin-bottom:15px;font-weight:300;}
p:last-child {margin-bottom: 0;}
ul {padding-left: 20px;}
ul li {padding-bottom: 10px;}
ol {padding-left: 20px;}
ol li {padding-bottom: 10px;}


blockquote {display: block;text-align: left;position: relative;background: #f3f3f3;padding: 20px 20px;border-left: 4px solid #1589cb;line-height: 2;font-size: 20px;font-style: italic;margin-bottom: 25px;}
blockquote p {font-size: inherit;font-weight: inherit;line-height: inherit;}
hr {border: 0 #fff solid;border-top-width: 1px;clear: both;height: 0;margin: 10px auto 40px;}
img {border: none;max-width: 100%;height: auto;display: inline-block;vertical-align: top;}
img[src$=".svg"] {width: 100%;height: auto;display: inline-block;vertical-align: top;}

/* Link
------------------------------------------------------------------------------*/
a {color:#263546;transition: background-color 0.3s ease 0s, color 0.3s ease 0s;text-decoration:none;transition:all ease 0.3s;}
a:hover {color: #0079ff;}
a:focus {outline: none;}

/* 5. Forms
------------------------------------------------------------------------------*/
label {color: #616368;font-size: 18px;font-weight: 400;line-height: 2.2;margin-bottom: 10px;display: block;}

input,
textarea,
button {font-family: 'Poppins', sans-serif;}

input[type="text"],
input[type="submit"],
input[type="button"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
textarea {-webkit-appearance: none;outline: none;}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="number"],
textarea {border: 1px solid #dedede;padding: 0 15px;color: #616368;font-size: 18px;height: 46px;font-weight: 400;width: 100%;}

textarea {height: 150px;resize: none;overflow: auto;padding: 20px 15px;}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
textarea:focus {border-color: #66afe9;outline: none;}

button,
input[type="button"],
input[type="reset"],
input[type="submit"]{display:inline-block;vertical-align:top;padding:15px 39px;font-size:16px;line-height:normal;text-align:center;text-transform:inherit;color:#fff;background-color:#2500f9;letter-spacing:unset;border:2px solid #2500f9;border-radius:50px;transition:all ease 0.3s;font-weight:bold;}

button:hover,
input[type="button"]:hover,  
input[type="reset"]:hover,
input[type="submit"]:hover {color: #2500f9;background-color: #0000;border-color: #2500f9;text-decoration: none;outline: none;}

input[type="search"] {-webkit-appearance: textfield;}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}

select {height: 58px;padding-left: 33px;padding-right: 52px;border: 1px solid #fff;background-color: transparent;color: #fff;font-size: 20px;font-family: 'Poppins', sans-serif;letter-spacing: 0.25em;-webkit-appearance: none;-moz-appearance: none;background-image: url(assets/images/polygon-down.png);background-size: 15px;background-repeat: no-repeat;background-position: right 25px center;font-weight: 600;cursor: pointer;}
select:hover,
select:focus {border-color: #fff;outline: none;}
select option {background-color: #001d25;color: #fff;font-size: 15px;font-family: 'Poppins', sans-serif;letter-spacing: 0.25em;}
select::-ms-expand {display: none;}

::-webkit-input-placeholder {opacity: 1 !important;color: #fff;}
:-moz-placeholder {opacity: 1 !important;color: #fff;}
::-moz-placeholder {opacity: 1 !important;color: #fff;}
:-ms-input-placeholder {opacity: 1 !important;color: #fff;}

.form-group {margin-bottom: 30px;}


/* Buttons
------------------------------------------------------------------------------*/

.btn{display:inline-block;vertical-align:top;padding:18px 45px 18px 37px;font-size:16px;line-height:normal;text-align:center;text-transform:inherit;color:#fff;background-color:#2500f9;background:-moz-linear-gradient(-1deg,rgb(0,198,255) 0%,rgb(0,156,255) 55%,rgb(0,114,255) 100%);background:-webkit-linear-gradient(-1deg,rgb(0,198,255) 0%,rgb(0,156,255) 55%,rgb(0,114,255) 100%);background:-ms-linear-gradient(-1deg,rgb(0,198,255) 0%,rgb(0,156,255) 55%,rgb(0,114,255) 100%);letter-spacing:unset;border:none;border-radius:50px;transition:all ease 0.3s;font-weight:300;position:relative;}
.btn:before{content:"";position:absolute;z-index:-1;top:20px;left:0;right:0;width:50%;height:50%;-moz-border-radius:100%;border-radius:100%;box-shadow:5px 0px 60px 10px rgba(0,156,255,1);-webkit-box-shadow:5px 0px 60px 10px rgba(0,156,255,1);-moz-box-shadow:5px 0px 60px 10px rgba(0,156,255,1);margin:0 auto;transition:all ease 0.3s;}

.btn:hover,
.btn:focus {color: #fff;text-decoration: none;background-color:#2500f9;background: -moz-linear-gradient( 180deg, rgb(0,198,255) 0%, rgb(0,156,255) 55%, rgb(0,114,255) 100%);background: -webkit-linear-gradient( 180deg, rgb(0,198,255) 0%, rgb(0,156,255) 55%, rgb(0,114,255) 100%);background: -ms-linear-gradient( 180deg, rgb(0,198,255) 0%, rgb(0,156,255) 55%, rgb(0,114,255) 100%);}

.btn:after{content:'';background-image:url(../images/btn-arrow.png);height:10px;width:10px;position:absolute;right:25px;background-size:auto;top:25px;background-repeat:no-repeat;}

.btn:hover:after{right:21px;}

.btn.white{background:#fff;color:#263546;}


/* Img and Title Links
------------------------------------------------------------------------------*/

a.img-link,a.title-link{transition:all ease 0.3s;}
a.img-link figure{overflow:hidden;display:block;height:100%;}
a.img-link figure img{width:100%;transition:all ease 0.3s;height:auto;}
a.img-link:hover img{transform:scale(1.1);}
a.img-link.no-hover:hover img {transform: scale(1);}
a.img-link.no-hover {cursor: unset;}

a.title-link.no-hover {cursor: unset;}
a.title-link.no-hover:hover h4 {color: #222 !important;}

.flex{display:flex;flex-wrap:wrap;}
.text-center{text-align:center;}


/* Header
------------------------------------------------------------------------------*/

header {padding:0px 0px;width:100%;position:relative;z-index:99;background:transparent; position:absolute;top:0;left:0;}
header .container{display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;}
header .logo{width:20%;}
header nav{width:80%;}
header nav ul{display:flex;align-items:center;justify-content:flex-end;list-style:none;margin:0px;padding:0px;}
header nav ul li {padding: 28px 32px;margin: 0px;}
header nav.desktop-menu ul li:last-child{padding-right:0px;}
header nav ul li a{font-size:16px;}

header nav.desktop-menu li.menu-item-has-children{position:relative;}
header nav.desktop-menu li.menu-item-has-children ul.sub-menu{position:absolute;top:100%;display:block;min-width:200px;display:none;}
header nav.desktop-menu li.menu-item-has-children ul.sub-menu li{width:100%;padding:0px;}
header nav.desktop-menu li.menu-item-has-children ul.sub-menu li a {color: #fff;background:#0079ff;font-size: 15px;display: block;padding: 10px 20px;border-bottom:1px solid rgba(255,255,255,0.1);}
header nav.desktop-menu li.menu-item-has-children ul.sub-menu li a:hover{background:#009cff;}
header nav.desktop-menu li.menu-item-has-children:hover ul.sub-menu{display:block;}

.mobile-menu-icon{display:none;cursor:pointer;position:absolute;right: 25px;top:28px;}
.bar1,
.bar2,
.bar3{width:30px;height:4px;background-color:#242f51;margin:6px 0;transition:0.4s;}
.change .bar1{-webkit-transform:rotate(-45deg) translate(-7px,5px);transform:rotate(-45deg) translate(-7px,5px);}
.change .bar2{opacity:0;}
.change .bar3{-webkit-transform:rotate(45deg) translate(-8px,-8px);transform:rotate(45deg) translate(-8px,-8px);}

header.sticky .bar1,header.sticky .bar2,header.sticky .bar3,
header.open .bar1,header.open .bar2,header.open .bar3{background-color:#fff;}

.mobile-menu{z-index:1000000;font-weight:bold;font-size:0.8em;width:100%;background:#fff;position:absolute;text-align:center;font-size:12px;left:0;right:0;top:100%;}
.mobile-menu ul{display: flex;flex-direction: column;}
.mobile-menu li{display:block;padding:15px 0 15px 0;border-bottom:#dddddd 1px solid;}


header .mobile-menu{max-height:400px;overflow-y:scroll;}
header .mobile-menu ul {padding: 0px 0px;}
header .mobile-menu ul li{position:relative;width:100%;}
header .mobile-menu ul li:last-child{padding-right:0px;padding-left:0px;border:none;}
header .mobile-menu ul > li{border-bottom:1px solid #ccc;position:relative;}
header .mobile-menu ul li a{display:block;padding: 0px 20px;text-align:left;font-weight:600;}
header.sticky .mobile-menu ul li a{color:#263546;} 
header.sticky .mobile-menu .sub-menu li a{color:#fff;}

header .mobile-menu .menu_sub{position:absolute;right:15px;top:15px;height:30px;width:30px;display:block;}
header .mobile-menu .menu_sub:after{content:"";display:inline-block;width:100%;height:100%;background-image:url(../images/down-arrow.png);background-repeat:no-repeat;background-position:center center;background-size:12px;}
header .mobile-menu .menu_sub.open:after{transform: rotate(180deg);}

header span{font-size:12px;}
header .mobile-menu .sub-menu{display:none;position:unset;padding:15px 0px 0px 0px;margin-bottom: -15px;}
header .mobile-menu .sub-menu li {padding: 10px 0px 10px 0px;border:none;background:#0079ff;border-bottom: 1px solid #ffffff1a;}
header .mobile-menu .sub-menu li a{display:block;padding: 0px 25px;color:#fff;font-size:15px;}
header .mobile-menu .sub-menu .menu_sub{display:none;}


header.sticky{position:fixed;top:0;left:0;animation:smoothScroll 1s forwards;background:#0079ff;z-index:999;box-shadow:0 2px 6px 0 rgba(0,0,0,.12);}
header.open{background:#0079ff;}
header.sticky nav ul li a{color:#fff;}
header.sticky nav ul li a:hover {color:#263546;}
header.sticky a.btn:hover{border-color:#fff;color:#fff;}
@keyframes smoothScroll{
	0%{transform:translateY(-40px);}
	100%{transform:translateY(0px);}
}


/* Scroll
------------------------------------------------------------------------------*/

.back-to-top{position:relative;margin-top: 0px;}
.back-to-top #scrollToTop{position: absolute;right: 30px;bottom: 80px;animation: bounce;animation-duration: 2s;animation-iteration-count: infinite;}


/* Preloader
------------------------------------------------------------------------------*/

#preloader{position:fixed;top:0;left:0;right:0;bottom:0;background-color:#0079ff;z-index:99999999;}
#status{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)}
.preloader{display:inline-block;animation: beat .5s infinite alternate;transform-origin: center;}

@keyframes beat{
	to { transform: scale(1.1); }
}


/* Container
------------------------------------------------------------------------------*/

.container {max-width: 1290px;}
.container,
.container-fluid {width: 100%;margin: auto;padding-right: 20px;padding-left: 20px;}
.bg{background-repeat:no-repeat;background-size:cover;}
.heading{text-align:center;}
.red{color:#f55767;}
.blue{color:#2563ff;}
.green{color:#40975f;}

/* Home Banner
------------------------------------------------------------------------------*/


.home-banner{padding: 100px 0px 100px 0px;background-size: 122vw;background-position: 56% 15%;min-height: 1000px;overflow: hidden;}
.home-banner .container{display:flex;align-items:center;flex-wrap:wrap;}
.home-banner .banner-info{width:49%;}
.home-banner .banner-img{width: 51%;text-align: center;padding-left: 0px;position: relative;}
.home-banner .banner-img img {position: relative;top:5px;right: 21px;max-width: 100vw;}
.home-banner .banner-info ul.btn-group{margin:0px;padding:0px;list-style:none;display:flex;align-items:center;padding-top:35px;}
.home-banner .banner-info ul.btn-group li{padding:0px;margin:0px;margin-right:29px;}
.home-banner .banner-info ul.btn-group li:last-child{margin-right:0px;}
.home-banner .banner-info ul.btn-group li a:hover{opacity:0.9;}


/* Help You
------------------------------------------------------------------------------*/
.help-you{padding:0px 0px 100px 0px;overflow:hidden;margin-top:-100px;}
.help-you .container{max-width:1390px;display:flex;flex-wrap:wrap;align-items:center;}
.help-you .help-info{width:20%;padding:0px 48px 0px 11px;}
.help-you .help-info h4 {margin-bottom: 35px;}
.help-you .help-info p {line-height: 33px}
.help-you .help-info .btn {margin-top: 28px;}
.help-you .help-list{width:80%;padding-left:22px;padding-top:30px;}
.help-you .help-list ul{display:flex;flex-wrap:wrap;align-items:flex-start;list-style:none;margin:0px;padding:0px;margin-left:-2.5%;margin-right:-2.5%;}
.help-you .help-list ul li{width:20%;text-align:center;padding:0px 0px;margin:0 2.5%;}
.help-you .help-list figure{width:175px;height:87px;display:flex;align-items:center;justify-content:center;border-top-left-radius:87px;border-top-right-radius:87px;border:double 2px transparent;background-image:linear-gradient(white,white),radial-gradient(circle at top left,#00c6ff,#0072ff);background-origin:border-box;background-clip:content-box,border-box;border-bottom:none;margin:0 auto;margin-bottom:25px;}
.help-you .help-list figure.border-sky{background-image:linear-gradient(white,white),radial-gradient(circle at top left,#00c6ff,#0072ff);}
.help-you .help-list figure.border-purple{background-image:linear-gradient(white,white),radial-gradient(circle at top left,#9a33f9,#f72f82);}
.help-you .help-list figure.border-green{background-image:linear-gradient(white,white),radial-gradient(circle at top left,#097094,#00de88);}
.help-you .help-list figure.border-yellow{background-image:linear-gradient(white,white),radial-gradient(circle at top left,#fb872b,#fcee21);}
.help-you .help-list figure img {margin-top: 46px;width: 50px;height: 51px}
.help-you .help-list h6{margin:0px;padding:0px 20px;font-weight:500;}

/* Meadia Mgmt
------------------------------------------------------------------------------*/
.media-mgmt{position: relative;background-repeat: no-repeat;background-size: cover;z-index: 1;padding: 70px 20px 0px 20px;}
.media-mgmt:before { content: '';background: linear-gradient(-171deg, rgba(0, 198, 255, 1) 0%, rgba(0, 114, 255, 1) 100%);position: absolute;height: 100%;width: 100%;opacity: 0.95;z-index: -1;top: 0;left: 0;}
.media-mgmt .heading {max-width: 730px;margin: 0 auto;padding-right: 5px;margin-bottom:-30px;}
.media-mgmt .heading h4 {color:#fff;margin-bottom:20px;}
.media-mgmt .heading p {color: #fff;line-height:27px;}

.media-vid {position: relative;max-width: 600px;margin: 0 auto;top:80px;}
.intro-video{width:100%;height:auto;max-width:600px;min-height:338px;margin:0 auto;border-radius:15px;overflow:hidden;}
.intro-video .vjs-loading-spinner{display:none}
.intro-video  .vjs-poster {background-size: cover;background-blend-mode: multiply;background-color: rgba(0,0,0,0.27);}
.intro-video .vjs-big-play-button,
.intro-video .vjs-big-play-button:focus,
.intro-video .vjs-big-play-button:active{position:absolute;top:50%;left:0;right:0;margin:0 auto;border-radius:10px;background:rgba(0,0,0,0.9);border:none;width:65px;height:45px;outline:none;}
.intro-video .vjs-big-play-button:hover,.intro-video:hover .vjs-big-play-button,
.intro-video .vjs-big-play-button:focus,.intro-video .vjs-big-play-button:active{background: rgba(255,0,0,1);color:#fff;}

/* How Easy 
------------------------------------------------------------------------------*/
.how-easy{padding:150px 0px 40px 0px;overflow:hidden;}
.how-easy .heading{margin-bottom:82px;}
.how-easy .how-easy-info ul.how-easy-list {margin: 0px;padding: 0px;list-style: none;}
.how-easy ul.how-easy-list li {display: flex;flex-wrap:wrap;align-items: center;margin: 0px;padding: 0px;margin-bottom:80px;}
.how-easy ul.how-easy-list li:last-child {margin-bottom:120px;}
.how-easy ul.how-easy-list li:nth-child(even){flex-direction: row-reverse;}
.how-easy ul.how-easy-list li .list-info {width: 42%;}
.how-easy ul.how-easy-list .list-info span.title-bar {display: inline-block;position: relative;margin-bottom:20px;}
.how-easy ul.how-easy-list .list-info span.title-bar:before{content:'';background:#0096f7;height:6px;width:30px;position:absolute;top:0;left:0px;border-radius:50px;box-shadow:0px 0px 30px 0px rgba(0,156,255,1);-webkit-box-shadow:0px 0px 30px 0px rgba(0,156,255,1);-moz-box-shadow:0px 0px 30px 0px rgba(0,156,255,1);}
.how-easy ul.how-easy-list .list-info h2 {font-weight: 300;margin-bottom:15px;}
.how-easy ul.how-easy-list .list-info p {line-height: 30px;}

.how-easy ul.how-easy-list li .list-img {width: 58%;-webkit-box-shadow:10px 15px 40px 0px rgba(0, 0, 0, 0.11);-moz-box-shadow:10px 15px 40px 0px rgba(0, 0, 0, 0.11);box-shadow:10px 15px 40px 0px rgba(0, 0, 0, 0.11);}
.how-easy ul.how-easy-list li:last-child .list-img{-webkit-box-shadow:-10px 15px 40px 0px rgba(0,0,0,0.11);-moz-box-shadow:-10px 15px 40px 0px rgba(0,0,0,0.11);box-shadow:-10px 15px 40px 0px rgba(0,0,0,0.11);}
.how-easy ul.how-easy-list li .list-img img {width: 100%;height: auto;}
.how-easy ul.how-easy-list li:nth-child(odd) .list-info{padding: 10px 50px 10px 0px;text-align:left;}
.how-easy ul.how-easy-list li:nth-child(even) .list-info{padding: 10px 0px 10px 50px;text-align:right;}

.how-easy ul.how-easy-list li:nth-child(even) .list-info span.title-bar:before{left:unset;right:0;}

.how-easy .how-easy-info ul.how-easy-list li .list-img{position: relative;}
.how-easy .how-easy-info ul.how-easy-list li:first-child .list-img:after{content:'';background-color:#009cfe;width:5000px;height:115px;position:absolute;z-index:-1;left:72%;top:-10%;background:linear-gradient(90deg,rgba(0,198,255,1) 0%,rgba(0,114,255,1) 4%);border-radius:30px;}

.how-easy .how-easy-info ul.how-easy-list li:nth-child(2) .list-img:before{content:'';background-image:url(../images/how-easy-before-2.png);width:665px;height:400px;position:absolute;left:-60px;top:-42%;background-repeat:no-repeat;z-index:-1;background-size:contain;}

.how-easy .how-easy-info ul.how-easy-list li:nth-child(3) .list-img:before{content:'';background-image:url(../images/how-easy-before-3.png);width:200px;height:500px;position:absolute;right:-7%;top:-27%;background-repeat:no-repeat;z-index:-1;background-size:contain;}

.how-easy .how-easy-info ul.how-easy-list li:nth-child(3) .list-img:after{content:'';background-color:#f7fdff;width:5000px;height:413px;position:absolute;left:107%;top:-27%;background-repeat:no-repeat;z-index:-1;}

.how-easy .service-info{padding:70px 0px;}
.how-easy .service-info ul.service-list{display:flex;flex-wrap:wrap;align-items:center;list-style:none;max-width:1030px;margin:0 auto;border-radius:50px;padding:30px 0px 30px 0px;background:rgb(0,198,255);background:linear-gradient(90deg,rgba(0,198,255,1) 0%,rgba(0,114,255,1) 100%);position:relative;}
.how-easy .service-info ul.service-list:after{content:"";position:absolute;z-index:-1;bottom:44px;left:0;right:0;width:50%;height:64%;-moz-border-radius:100%;border-radius:100%;box-shadow:0px 13px 90px 45px rgba(0,156,255,1);-webkit-box-shadow:0px 13px 90px 45px rgba(0,156,255,1);-moz-box-shadow:0px 13px 90px 45px rgba(0,156,255,1);margin:0 auto;}

.how-easy .service-info ul.service-list li{width:33.33%;text-align:center;padding:15px 30px 15px 30px;border-right:1px solid rgba(255,255,255,0.3);}
.how-easy .service-info ul.service-list li:last-child{border:none;}
.how-easy .service-info ul.service-list li figure{margin-bottom:22px;}
.how-easy .service-info ul.service-list li h6{margin-bottom:9px;color:#fff;}
.how-easy .service-info ul.service-list li p{font-size:14px;padding:0px 78px;font-weight:300;color:#474747;line-height:20px;margin-bottom:16px;}

/* Plans 
------------------------------------------------------------------------------*/
.our-plans {padding: 60px 0px 110px 0px;}
.our-plans .heading {max-width: 600px;margin: 0 auto;margin-bottom:120px;}
.our-plans .heading h4 {padding: 0px 100px;margin-bottom: 31px;}
.our-plans .plans-info {margin-bottom: 80px;}

.our-plans .plans-info ul.plans-list{display:flex;flex-wrap:wrap;list-style:none;margin:0;padding:0;-webkit-box-shadow:10px 50px 80px 0px rgba(0,0,0,0.19);-moz-box-shadow:10px 50px 80px 0px rgba(0,0,0,0.19);box-shadow:0px 24px 100px 5px rgba(0,0,0,0.08);}
.our-plans ul.plans-list > li{width:33.33%;border:1px solid #eee;border-radius:10px;overflow:hidden;display: flex;flex-direction: column;justify-content: center;}
.our-plans ul.plans-list > li.basic{padding:0px 50px 0px 25px;}
.our-plans ul.plans-list > li.standard {padding: 0px 25px 0px 50px;}

.our-plans ul.plans-list > li .price {display: flex;align-items: center;justify-content:space-between;padding:25px 0px;border-bottom:2px solid #eee;}
.our-plans ul.plans-list > li .price h3,.our-plans ul.plans-list > li .price h5 {margin: 0px;}
.our-plans ul.plans-list > li .price h3{color:#adacac;}
.our-plans ul.plans-list > li .price h5{color:#000;}

.our-plans ul.plans-list > li .details{padding:30px 0px;}
.our-plans ul.plans-list > li .details p{color:#5d5d5d;font-size:14px;margin-bottom:30px;}
.our-plans ul.plans-list > li .details ul{margin:0px;padding:0px;list-style:none;}
.our-plans ul.plans-list > li .details li{color:#5d5d5d;font-size:14px;position:relative;padding-left:31px;margin-bottom:4px;}
.our-plans ul.plans-list > li .details li:before{content:'';background-image:url(../images/checked-icon-1.png);height:14px;width:14px;position:absolute;left:4px;top:6px;background-size:100%;background-repeat:no-repeat;}
.our-plans ul.plans-list > li .details a.btn{margin-top:24px;padding:13px 28px;font-weight:300;}
.our-plans ul.plans-list > li .details a.btn:after{display:none;}

.our-plans ul.plans-list > li.premium{transform: scale(1.12);z-index: 1;background: #fff;padding: 0px;}
.our-plans ul.plans-list > li.premium .price{border-bottom:none;padding:23px 30px;}
.our-plans ul.plans-list > li.premium .price h3{color:#00abff;}
.our-plans ul.plans-list > li.premium .price h5{color:#33cc66;}
.our-plans ul.plans-list > li.premium  .details{padding: 25px 30px;background: linear-gradient(180deg,rgba(0,198,255,1) 0%,rgba(0,114,255,1) 100%);}
.our-plans ul.plans-list > li.premium .details p,.our-plans ul.plans-list > li.premium .details li{color:#fff;font-size:12px;font-weight:300;}

.our-plans ul.plans-list > li.premium .details p {margin-bottom:25px;}
.our-plans ul.plans-list > li.premium .details li {padding-left:21px;margin-bottom:2px;}
.our-plans ul.plans-list > li.premium .details li:before{background-image:url(../images/checked-icon-2.png);height:10px;width:11px;position:absolute;left:-3px;top:5px;}
.our-plans ul.plans-list > li.premium .details a.btn{margin-top: 28px;padding: 10px 20px;background: #fff;color: #0091ff;font-size: 15px;z-index:2;}
.our-plans ul.plans-list > li.premium .details a.btn:before{z-index:1;box-shadow: 5px 0px 60px 10px rgb(239 243 245);-webkit-box-shadow: 5px 0px 60px 10px rgb(238 242 245);-moz-box-shadow: 5px 0px 60px 10px rgba(0,156,255,1);}

.our-plans .check-plans {padding: 50px 0px 50px 0px;text-align: center;}
.our-plans .check-plans h4 {margin-bottom: 51px;}
.our-plans .check-plans a.btn {min-width: 180px;}


/* Blog
------------------------------------------------------------------------------*/
.common-banner{position:relative;min-height:400px;overflow:hidden;}
.common-banner::after{content:'';position:absolute;left: -307px;top: -185px;display: block;height: 895px;width: 140vw;background-image:url(../images/curve.svg);background-size:100% 100%;}


.blog {margin-top: -241px;padding:0 0 150px 0;}
.blog .heading {margin-bottom: 114px;}
.blog .blog-list-wrap {display: flex;flex-wrap: wrap;align-items: flex-start;}
.blog .blog-list-wrap aside {width: 30%;margin:0;padding:0;padding-right:20px;}
.blog .blog-list-wrap article{width: 70%;margin:0;padding:0;padding-left:20px;}
.blog .blog-list-wrap aside form label{display:none;}

.blog .blog-list-wrap aside ul,.blog .blog-list-wrap article ul{margin:0;padding:0;list-style:none;}
.blog aside form .form-group-wrap {position: relative;}
.blog aside form button{position:absolute;right:0;top:0;margin:0px;background:#00c6ff;border-radius:0;border:none;padding:10px 25px;cursor:pointer;}

.blog aside ul.blog-sidebar > li {margin-bottom: 30px;}

.blog aside .recent-post ul li,.blog aside .categories li{border-bottom: 1px solid #eee;padding: 15px 0px;transition:all ease 0.3s;}
.blog aside .recent-post ul li:hover,.blog aside .recent-post ul li.active,.blog aside .categories li:hover,.blog aside .categories li.active{border-bottom: 1px solid #00c6ff;}
.blog aside .recent-post ul li:hover a,.blog aside .recent-post ul li.active a,.blog aside .categories li:hover a ,.blog aside .categories li.active a{color:#00c6ff;}
.blog aside ul.blog-sidebar time {font-size: 14px;color: #c6c6c6;}

.blog aside .tags ul {display: flex;flex-wrap: wrap;align-items: center;}
.blog aside .tags ul li {margin: 0 10px 10px 0;padding: 0px;}
.blog aside .tags ul li a{border:1px solid #ccc;background:transparent;color:#c5c5c5;padding:10px 12px;display:inline-block;margin:0px;}
.blog aside .tags ul li a.active{border-color:#00c6ff;background:#00c6ff;color:#fff;padding:10px 12px;display:inline-block;margin:0px;}
.blog aside h6 {margin-bottom: 25px;}


.blog article ul.blog-list > li{margin-bottom:85px;padding:0;-webkit-box-shadow:0px 15px 60px 4px rgba(0,0,0,0.07);-moz-box-shadow:0px 15px 60px 4px rgba(0,0,0,0.07);box-shadow:0px 15px 60px 4px rgba(0,0,0,0.07);}
.blog article ul.blog-list > li .blog-img {}
.blog article ul.blog-list > li .media-vid{max-width:100%;position: unset;}
.blog article ul.blog-list > li .media-vid .intro-video{max-width:100%;min-height:unset;border-radius:0;}

.blog article ul.blog-list > li .blog-details{padding:40px 40px;}
.blog article ul.blog-list > li .blog-details ul.date-cat{display:flex;align-items:center;justify-content:space-between;margin-bottom:30px;}
.blog article ul.blog-list > li .blog-details ul.date-cat li{display:flex;align-items:center;padding:0;margin:0;}
.blog article ul.blog-list > li .blog-details ul.date-cat li figure {margin-right: 10px;}
.blog article ul.blog-list > li .blog-details ul.date-cat li p{margin:0;padding:0;}
.blog article ul.blog-list > li .blog-details p {margin-bottom: 30px;}

.blog article ul.blog-list > li .blog-details a.read-more {border-bottom: 1px solid #263546;color: #263546;padding: 5px 0px;}
.blog article ul.blog-list > li .blog-details a.read-more:hover{border-color:#00c6ff;color:#00c6ff;}

.blog article ul.blog-list > li .blog-details blockquote{background: transparent;border: none;font-weight: 300;position: relative;display: inline;}
.blog article ul.blog-list > li .blog-details blockquote:before{content:'';background-image: url('../images/quote-img-1.png');background-repeat: no-repeat;height:50px;width:50px;position: absolute;top:0;left:0;z-index:-1;}
.blog article ul.blog-list > li .blog-details blockquote:after{content:'';background-image: url('../images/quote-img-2.png');background-repeat: no-repeat;height:50px;width:50px;position: absolute;bottom:0;right:-40px;z-index:-1;}
.blog article ul.blog-list > li .blog-details blockquote ~ p {margin-top: 30px;}


.simple-pagination {display: flex;justify-content: flex-end;padding:0;margin: 0;}
.simple-pagination ul{margin:0 0 20px;padding:0;list-style:none;text-align:center;}
.simple-pagination li{display:inline-block;margin-right:10px;}
.simple-pagination li.disabled {display: none;}
.simple-pagination li a,
.simple-pagination li span{color:#000;padding:7px 16px;text-decoration:none;border:1px solid #eee;background:#FFF;box-shadow:none;border-radius:0;display:inline-block;box-shadow:none;max-width:100%;margin:0;}
.simple-pagination .current,
.simple-pagination li a:hover,
.simple-pagination li span:hover{color:#FFF;background-color:#00c6ff;border-color:#00c6ff;}
.simple-pagination .prev.current,
.simple-pagination .next.current{background:#00c6ff;}

/* Footer 
------------------------------------------------------------------------------*/
footer{position:relative;overflow:hidden;padding: 100px 0px 0px 0px;margin-top: -100px;}
footer .footer-wrap{padding:65px 0px 0px 0px;position:relative;max-width:1170px;margin:0 auto;}
footer .footer-wrap:before{content:'';background-image:url(../images/footer-before-1.png);left:-226px;top:-98px;height:540px;width:252px;position:absolute;z-index:-1;background-repeat:no-repeat;background-size:100%;}
footer .footer-wrap:after { content: ''; background-image: url(../images/footer-before-2.png); position: absolute; z-index: 2; right: -250px; top: 71px; height: 358px; width: 275px; background-repeat: no-repeat; background-size: 100%; }

footer .inner-wrap{position:relative;}
footer .inner-wrap:before{content:'';background:rgba(255,255,255,0.8);height:100%;width:1350px;position:absolute;right:0;left:-87px;top:-70px;transform:perspective(51px) rotateX(1.2deg);margin:0 auto;z-index:0;box-shadow:0 -28px 67px 0px rgba(0,156,255,0.1);-webkit-box-shadow:0 -28px 67px 0px rgba(0,156,255,0.1);-moz-box-shadow:0 -28px 67px 0px rgba(0,156,255,0.1);border-top-left-radius:60px;border-top-right-radius:60px;}
footer .inner-wrap:after{content:'';position:absolute;height:0%;width:80%;top:124px;left:0;right:0;background:transparent;box-shadow:0 34px 134px 143px rgba(0,156,255,0.2);-webkit-box-shadow:0 34px 134px 143px rgba(0,156,255,0.2);-moz-box-shadow:0 34px 134px 143px rgba(0,156,255,0.2);border-radius:10%;margin:0 auto;opacity:0.3;}
footer .container{position:relative;}
footer .main-footer{display:flex;flex-wrap:wrap;}
footer .main-footer .footer-links {width: 62%;}
footer .main-footer .footer-about {width: 38%;padding: 0px;margin: 0px;	}
footer .main-footer .footer-links ul{padding:0px;margin:0px;list-style:none;}
footer .main-footer .footer-links > ul{display:flex;flex-wrap:wrap;}
footer .main-footer .footer-links > ul >li{width:20%;}
footer .main-footer .footer-links > ul >li >ul >li {margin-bottom: 13px}
footer .main-footer li,footer .main-footer p {font-size: 14px;padding:0px;margin:0px;}
footer .main-footer h6 {font-size: 16px;margin-bottom: 19px;}

footer .footer-about h6 {margin-bottom: 12px;}
footer .footer-about p {line-height: 35px;}

footer .copywrite {padding: 7px 0px;text-align: center;}
footer .copywrite p {font-size: 14px;}


/* Animation
------------------------------------------------------------------------------*/



