/*Responsive*/

@media only screen and  (min-width: 1600px) {
	.h1, h1 {font-size: 55px;}
	.h2, h2 {font-size: 50px;}
	.h3, h3 {font-size: 40px;}
	.h4,h4 {font-size: 29px;}
	.h5,h5 {font-size: 24px;}
	.h6,h6 {font-size: 22px;}

}

@media only screen and (max-width:1199px){
	body {font-size: 16px;}
	.h1, h1 {font-size: 45px;}
	.h2, h2 {font-size: 40px;}
	.h3, h3 {font-size: 30px;}
	.h4,h4 {font-size: 27px;}
	.h5,h5 {font-size: 22px;}
	.h6,h6 {font-size: 20px;}	
	.btn {padding: 12px 15px;}	

}
@media only screen and (max-width:991px){

	body {font-size: 16px;}
	.h1, h1 {font-size: 40px;}
	.h2, h2 {font-size: 35px;}
	.h3, h3 {font-size: 27px;}
	.h4,h4 {font-size: 24px;}
	.h5,h5 {font-size: 20px;}
	.h6,h6 {font-size: 18px;}	
	.btn {padding: 10px;font-size: 12px;}
	input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="number"], textarea {height: 50px;}
	
	.heading h2,.heading h1.h2{margin: 0px 0px 30px;}
}
@media only screen and (max-width:767px){


	.h1, h1 {font-size: 37px;}
	.h2, h2 {font-size: 33px;}
	.h3, h3 {font-size: 23px;}
	.h4,h4 {font-size: 20px;}
	.h5,h5 {font-size: 18px;}
	.h6,h6 {font-size: 18px;}
	.btn {padding: 10px;font-size: 12px;}
	select {padding-left: 15px;padding-right: 35px;background-size: 10px;background-position: right 15px center;font-size: 18px;}
	p {font-size: 15px;}	

}
@media only screen and (max-width:640px){
	.h1, h1 {font-size: 33px;}
	.h2, h2 {font-size: 28px;}
	.h3, h3 {font-size: 22px;}
	.h4,h4 {font-size: 20px;}
	.h5,h5 {font-size: 18px;}
	.h6,h6 {font-size: 18px;}
	input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="number"], textarea {height: 40px;}


}
@media only screen and (max-width:479px){


}
@media only screen and (max-width:359px){

}